{% extends 'index/master.html' %}
{% block content %}

    <div class="container-fluid">


        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">All Users</h6>

            {% for employee in employees %}

                <div class="mt-2">
                    <div class="card">

                        <div class="card-body">

                            <div class="media text-muted pt-1">
                                {% if employee.data_status %}
                                    <img class="bd-placeholder-img ml-1 rounded" width="75px" height="75px"
                                         src="/static/dataset/{{ employee.name }}__id__{{ employee.id }}/30.jpg"
                                    />
                                {% else %}
                                    <img class="bd-placeholder-img ml-2 rounded" width="32" height="32"
                                         src="/static/images/users.svg"
                                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                         aria-label="Placeholder: 32x32"/>




                                {% endif %}
                                <p class="pl-2 media-body pb-3 mb-0 small lh-125 border-bottom border-gray ml-1">
                                    <strong class="h5 d-block text-gray-dark">@<a style="cursor: pointer"
                                                                                  class="text-info"
                                                                                  onclick='sub({{ employee.id }})'>{{ employee.name }}
                                        <span class="text-muted">
                                           <small>
                                                <small
                                                    class="text-primary">{{ employee.post|truncatechars:'15' }}</small> , <small
                                                class="">{{ employee.department|truncatechars:'15' }}</small>
                                           </small>
                                </span>
                                    </a>


                                    </strong>
                                    <small class="h6">Employee Id: {{ employee.employee_id }}</small>


                                <div class="d-none">
                                    <form action="{% url 'profile' %}" method="post" id="form{{ employee.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{ employee.id }}">
                                    </form>
                                </div>
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            {% if employee.data_status %}
                                <form action="{% url 'addMoreData' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ employee.id }}">
                                    <button class="btn btn-outline-success">Add New</button>
                                </form>
                            {% else %}
                                <form action="{% url 'capture' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ employee.id }}">
                                    <button class="btn btn-outline-info">Add Data</button>
                                </form>

                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>

    </div>





{% endblock %}