{% extends 'index/master.html' %}

{% block content %}


    <div class="row" style="display:inline;">

        <div class="col-md-12">
            <div class="container-fluid center-block">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <h1 class="">Welcome To FCS</h1>
                    <p class=""><small>Click The Button Below To Take Your Attendance</small></p>
                   <a class="btn btn-outline-secondary" href="{% url 'recognize' %}">Present  !!</a>
                </div>

            </div>
        </div>
        <div class="col-md-12 container">


            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-white ">

                <!-- Three columns of text below the carousel -->

                <div class="row center-block">

                    <div class="col-lg-3">
                        <img src="/static/images/256c79af434cc7805aefb14632aa7655.png" width="140" height="140" alt=""
                             class="img rounded-circle">
                        <h2>Click</h2>

                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-1">
                        <img src="/static/images/arrow.svg" width="140" height="50" alt=""
                             class="img rounded-circle mt-5">


                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="/static/images/face.png" width="140" height="140" alt=""
                             class="bd-placeholder-img rounded-circle">
                        <h2>Face Scan</h2>


                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-1">
                        <img src="/static/images/arrow.svg" width="140" height="50" alt=""
                             class="img rounded-circle mt-5">


                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="/static/images/attend.png" width="140" height="140" alt=""
                             class="bd-placeholder-img rounded-circle">
                        <h2>Register</h2>

                    </div><!-- /.col-lg-4 -->

                </div>

            </div><!-- /.row -->

        </div>
    </div>


{% endblock %}